extends layout

block content
  h1= title
  a(href="/new"): button="Send a new message"
  h2= "Messages"
  div.messages
    each message in messages 
      div.message
        h3= message.text 
        p= message.user
        p= message.added
